In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("data/puc_campanhas_deduplicated.parquet")
print(df.shape)
df.head()

(6294634, 10)

,IDENTIFICADOR,COD_LOJA,PROMOCAO_TABELA,TIPO_PROMOCIONAL,DATA_INICIO,DATA_FIM,DESCONTO_TIPO,COD_SKU,COD_SKU_QUALIFICADOR,COD_SKU_BONIFICADOR
0,1031-100009900-100335382,1031,PROMODEPOR,CARTAO_FIDELIDADE,2024-06-01,2024-06-30 23:59:59,None,100009900.0,NaN,NaN
1,1031-10004747-100339181,1031,PROMODEPOR,CARTAO_FIDELIDADE,2024-06-03,2024-06-16 23:59:59,None,10004747.0,NaN,NaN
2,1031-10028307-100340766,1031,PROMODEPOR,CARTAO_FIDELIDADE,2024-06-03,2024-06-16 23:59:59,None,10028307.0,NaN,NaN
3,1031-100014752-100335511,1031,PROMODEPOR,CARTAO_FIDELIDADE,2024-06-03,2024-06-09 23:59:59,None,100014752.0,NaN,NaN
4,1031-10004751-100338886,1031,PROMODEPOR,LAMINA,2024-06-04,2024-06-28 23:59:59,None,10004751.0,NaN,NaN

In [3]:
df.isnull().sum()

IDENTIFICADOR                 0
COD_LOJA                      0
PROMOCAO_TABELA               0
TIPO_PROMOCIONAL              0
DATA_INICIO                   0
DATA_FIM                      0
DESCONTO_TIPO           1752385
COD_SKU                 4542249
COD_SKU_QUALIFICADOR    1756023
COD_SKU_BONIFICADOR     1756221
dtype: int64

In [4]:
df["IDENTIFICADOR"].nunique()

2267700

In [5]:
df.groupby("IDENTIFICADOR").size().sort_values(ascending=False)

IDENTIFICADOR
100346491-70373-482         3483
100346491-70373-829         3482
100346491-70373-537         3482
100346491-70373-378         3482
100346491-70373-846         3482
                            ...
1122-10001401-100306975        1
1122-10001401-100327011        1
1122-100014038-100304243       1
1122-100014038-100315412       1
1122-100013948-100296264       1
Length: 2267700, dtype: int64

In [6]:
df["PROMOCAO_TABELA"].value_counts()

PROMOCAO_TABELA
PROMOVENDACASADA    4542249
PROMODEPOR          1752385
Name: count, dtype: int64

In [7]:
df["COD_LOJA"].value_counts()

COD_LOJA
1351    67615
599     67547
1400    67542
1240    67530
499     67506
        ...
425       929
538       859
518       859
729       846
1308      607
Name: count, Length: 101, dtype: int64

In [8]:
df["TIPO_PROMOCIONAL"].value_counts()

TIPO_PROMOCIONAL
CARTAO_FIDELIDADE    5682116
LAMINA                609881
TOKEN                   2415
GESTAO_ESTOQUE            74
OUTROS                    74
PROMOCIONAL_LOJAS         74
Name: count, dtype: int64

In [9]:
df["DESCONTO_TIPO"].value_counts()

DESCONTO_TIPO
P    4119504
%     422745
Name: count, dtype: int64

In [10]:
df["COD_SKU"].nunique()

7748